/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-nov-2019, 17:06:38
    Author     : Jose Raimundo Montes Lopez
*/

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
  animation: fadeEffect 1s;
}

.container-fluid {
    margin-top: 1vh;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.table{
    margin-bottom: 0;
}

tbody {
    display:block;
    max-height: 53vh;
    height: 53vh;
    overflow-y: scroll;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}

.free{
    background-color: lightskyblue;
}

.busy{
    background-color: lightcoral;
}

.use{
    background-color: palegreen;
}

.saldo-card{
    height: 18vh;
    max-height: 18vh;
    padding: 1.25rem;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.aviso-card{
    height: 18vh;
    max-height: 18vh;
    padding: 1.25rem;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.avisos-cards{
    display: block;
    height: 18vh;
    max-height: 18vh;
    overflow-y: scroll;
}